.divBotoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

#form h1 {
    text-align: center;
}
.divBotoes button{
    margin: 5px;
}